div#tabs{
	width:100%;      
	font-size:12px;
	border:solid 2px #E1E1E1;
        background: #F4F4F4
	
}
    /* DIV that holds each tab*/
div.my_tab{
	width:100%;       
	margin:0px auto;
        background: #F4F4F4
		
}
	
/* Title of each tab, used when user don't have Javascript'*/	
div.my_tab h5{
	color:#414141;
	border-bottom:solid 1px #cacaca;
        padding-left: 20px;
		
}
	
/* Tab Bar, created via JS*/
div#tab-bar{
	padding:0px 0px 0px 10px;
	margin:0px;
	height:50px;	
	border-bottom:solid 1px #E1E1E1;
	margin-bottom:20px;
	font:normal 12px "Trebuchet MS";
        background: #E4E4E4;
}
	
/* Single Tab */
div#tab-bar div.mt-tab{
	float:left;
	
	display:inline;
	position:relative;
	text-align:center;
	margin:14px 5px -3px 0px;
	cursor:pointer;
	border-top:solid 1px #E1E1E1;
	border-left:solid 1px #E1E1E1;
	border-right:solid 1px #E1E1E1;
	border-bottom:solid 1px #E1E1E1;
	font:normal 13px "Trebuchet MS";	
	height:20px;
	color:#414141;
	padding:10px 10px 5px 10px;
        background:#00BCD3
}
	
/* Single Tab, when active */
div#tab-bar div.mt-tab-active{
	float:left;
	
	display:inline;
	text-align:center;
	margin:14px 5px -5px 0px;
	cursor:pointer;
	border-top:solid 1px #E1E1E1;
	border-left:solid 1px #E1E1E1;
	border-right:solid 1px #E1E1E1;
	border-bottom:none;
	height:21px;
	color:Black;
	font-weight:bold;
	padding:10px 10px 5px 10px;
        background: #F4F4F4 
		
}