h1, h2, h3, h4{
    color:#333;
}
#mainHeader{
background-color: white;
-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 1px 10px rgba(0,0,0,.1);
box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

.navbar {
margin-bottom: 0;
min-height: 80px;
}

.navbar-nav > li > a {
padding-top: 15px;
padding-bottom: 0;
height: 110px;
padding-left: 7px;
padding-right: 7px;
}


.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus{
 background: #344e75;
 color: #fff;
}

.navbar-brand {
padding: 5px;
height: 80px;
}


/* LINKS AND BUTTONS
================================================== */

a {
	color:#1a6d77; /************Color de enlaces**********/
	font-weight: 600;
}
#top .navbar-nav > li > a {
	color: #fff;
}	
a:hover, .scrollspyNav .active a {
	color:#4FAFC2;
}
ul.iconsList li a {
	color:#555
}
ul.iconsList li a:hover, ul.iconsList i {
	color:#4FAFC2
}

/*** editar buttones ***/
.btn { /*editar color del boton*/
	background:#4FAFC2;
	color:#fff;
	/*border:2px solid #fff;*/
}
.btn:hover {  /*editar color cuando se esta sobre el boton */
	color:#4FAFC2;
	border-color:#eee;
	text-shadow:none;
	background:#555
}
.btn-primary {
	background: #006dcc;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	background: #555;
}
.btn-info {
	background: #49AFCD;
}
.btn-success {
	background: #5BB75B;
}
.btn-warning {
	background: #FAA732;
}
.btn-danger {
	background: #DA4F49;
}
.btn-link, .btn-link:active, .btn-link[disabled], .btn-link:hover {
	background:none;
	border:none;
	-moz-box-shadow: none;
	-webkit-box-shadow:none;
	box-shadow: none;
	color:#49AFCD;
}
.btnWrapper {
	border:1px solid #ccc;
}

/* END LINKS AND BUTTONS
================================================== */

/* MAIN MENU 
================================================== */

#mainHeader{
    background-color: white;
	-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 10px rgba(0,0,0,.1);
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

#mainHeader .navbar-inner {
	background: #444;
	filter:none !important;
}
#mainMenu ul li a, #resMainMenu ul li a {
	color:#444;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background: #1a6d77; /*****color al poner el cursor sobre enlace del menu principal*******/
	color:#fff;
}

/* END MAIN MENU 
================================================== */

/* Barra de color*/
#top {
padding-top:0;
background-color: #1a6d77; /*color*/
color: #fff;
}

/*_----------------color barra panel---------------*/

.panel-primary>.panel-heading {
color: #fff;
background: #1a6d77;
border-color: #1a6d77 !important;
}

/* FOOTER 
================================================== */

footer {
	color:#efefef;
	background:#304250;
	border-top:1px solid #555;
}

footer h3{
    color:#fff;
    
}

#footerRights {
	background-color:#fff;
        -moz-box-shadow: 5px #49AFCD;
	color:#333;
}
p.credits {
	color:#555;
}
p.credits a {
	color:#4FAFC2;
}

/* END FOOTER 
================================================== */