@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
body{
	padding-top: 50px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
/* BOOSTRAP CUSTOMIZATION
================================================== */
.navbar {margin-bottom:0; min-height: 80px;}
.navbar-default {background:none; border:none; }
.nav.nav-tabs {margin-bottom:22px;}
.btn:active, .btn.active{
-webkit-box-shadow:none;box-shadow:none
}
.container .jumbotron{border-radius: 0;}
.jumbotron {font-size: 16px;}
.jumbotron h1 {text-align: left;}
/*forms*/
.form-control {-webkit-box-shadow:none;box-shadow:none}
.has-error div {padding: 5px;
margin-bottom: 20px;
display:block;
}
/*tabs*/

/** expand the link to fill the whole tab **/
.panel-title a {
    display: block;
    padding: 10px 15px;
    margin: -10px -15px;
    outline:none;
}

.panel-default>.panel-heading{
 -webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
.panel-default {
	border:none;
}
.navbar-default .navbar-toggle {
	margin-top: 22px;
}
/*** MEDIA QUERIES ***/

@media(max-width:487px){
.bs-glyphicons li {
width: 30.5%;
font-size: 12px;
}
}

@media(min-width:768px){
.bs-glyphicons {
margin-left: 0;
margin-right: 0;
}
.bs-glyphicons li {
width: 18.5%;
font-size: 12px;
}
.bs-glyphicons li {
font-size: 12px;
}
}

@media(min-width:992px){
.bs-glyphicons li {
float: left;
width: 17.5%;
}
}

@media(min-width:1200px){
.bs-glyphicons li {
float: left;
width: 13.5%;
}}

/*** END MEDIA QUERIES ***/

/* END BOOSTRAP CUSTOMIZATION
================================================== */

/* HEADER
================================================== */
#mainHeader{background:#eee;}
.navbar-brand{padding:5px; height: 80px;}

.fixedHeader {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.fixedHeader #mainMenu li a {
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}
.fixedHeader .nav-brand {
    margin-top: 0.6em;
    width: 100px;
}

/*** MEDIA QUERIES ***/

@media(max-width:907px){
.navbar-brand img{width: 70px; height: auto;}
}

@media(min-width:768px){}

@media(min-width:992px){}

@media(min-width:1200px){}

/*** END MEDIA QUERIES ***/

/* END HEADER
================================================== */

/* MAIN MENU
================================================== */
.navbar-nav > li > a {
    display: block;
    font-size: 1em;
    font-weight: 300;
    margin: 0;
	padding-top:11px;
	padding-bottom:11px;
	vertical-align:middle;
    text-decoration: none;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
.navbar-nav > li > a i {font-size: 16px; text-align: center;padding: 20px 0 10px 0; color:#ccc;}
.navbar-nav > li > a:hover i, .navbar-nav > li.active > a i {color:#fff;}
#mainHeader .pull-right{ float:none !important; text-transform: uppercase; text-align: center;  color:#fff}
#top .pull-left{ float:none !important; font-size: .87em !important; text-align: center; }

#top {}

/*** MEDIA QUERIES ***/

@media(max-width:767px){
	.navbar-nav > li > a i {
		margin-right: 10px;
		font-size: 18px;
	}
}

@media(min-width:768px){
	.navbar-nav > li > a i {
		display: block;
	}
	.navbar-nav > li > a {
		padding-top: 15px;
		padding-bottom: 0;
		height: 110px;
		padding-left: 7px;
		padding-right: 7px;
	}
	.nb-n1 > li > a {
		padding-top: 15px;
		padding-bottom: 0;
		height: 40px;
		padding-left: 7px;
		padding-right: 7px;
		color: #fff;
	}
	#mainHeader .pull-right{ float:right !important; }
	#top .navbar-nav > li > a {
		padding-top: 0;
		padding-bottom: 0;
		height: 20px;
		padding-left: 7px;
		padding-right: 7px;
	}
        #top .navbar-nav > li > a:hover{color: #333;}
	#top .pull-left{float: left !important;}
}


@media(min-width:992px){}

@media(min-width:1200px){}

/*** END MEDIA QUERIES ***/

/* END MAIN MENU
================================================== */



/*________________*/
.slice {padding:33px 0;}


/*------------bnt-----*/
panel-body .btn:not(.btn-block) { width:120px;margin-bottom:10px; } 

/*-------iconos--------*/
.bs-glyphicons {
margin: 0 -19px 20px -16px;
overflow: hidden;
}

.bs-glyphicons li {
float: left;
height: 115px;
padding: 10px;
font-size: 10px;
line-height: 1.4;
text-align: center;
border: 1px solid #fff;
background-color: #C5DDF3;
border-radius: 25%;
}
.bs-glyphicons-list {
list-style: none;
}
.bs-glyphicons .glyphicon {
margin-top: 5px;
margin-bottom: 10px;
font-size: 24px;
}
.bs-glyphicons .glyphicon-class {
display: block;
text-align: center;
word-wrap: break-word;
}

.fa-fw {width: 2em;}

/*-------------destacados--------------------*/
.destacados{
    padding: 20px 0;
	text-align: center;
}
.destacados > div > div{
	padding: 10px;
	border: 1px solid transparent;
	border-radius: 4px;
	transition: 0.2s;
}
.destacados > div:hover > div{
	margin-top: -10px;
	border: 1px solid rgb(200, 200, 200);
	box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
	background: rgba(200, 200, 200, 0.1);
	transition: 0.5s;
}

.tab{
background: gainsboro;
padding: 1em;
border-radius: 8px;
}
.tlf{
padding-right: 0;
background: #f5f5f5;
padding: 5px;}
.well1 {
border: 0px !important;
border-radius: 0px !important;
-webkit-box-shadow: none !important;
box-shadow: none !important;
}

/*--------panel---------*/
.clickable
{
    cursor: pointer;
}

.clickable .glyphicon
{
    background: rgba(0, 0, 0, 0.15);
    display: inline-block;
    padding: 3px 8px;
    border-radius: 4px;
    font-size: 12px;
}

.panel-heading span
{
    margin-top: -23px;
    font-size: 15px;
    margin-right: -9px;
}
a.clickable { color: inherit; }
a.clickable:hover { text-decoration:none; }
