@charset "UTF-8";



/* SpryMenuBarVertical.css - Revision: Spry Preview Release 1.4 */



/* Copyright (c) 2006. Adobe Systems Incorporated. All rights reserved. */



/*******************************************************************************



 LAYOUT INFORMATION: describes box model, positioning, z-order



 *******************************************************************************/



/* The outermost container of the Menu Bar, a fixed width box with no margin or padding */



ul.MenuBarVertical

{

	margin: 0;



	margin-left:0px;

	padding: 0;

	list-style-type: none;

	font-size: 100%;

	cursor: default;

	width: 8em;

}

/* Set the active Menu Bar with this class, currently setting z-index to accomodate IE rendering bug: http://therealcrisp.xs4all.nl/meuk/IE-zindexbug.html */

ul.MenuBarActive

{

	z-index: 1000;

}

/* Menu item containers, position children relative to this container and are same fixed width as parent */

ul.MenuBarVertical li

{

	margin: 0;

	padding: 0;

	list-style-type: none;

	font-size: 88%;

	color: #edf1f3;

	position: relative;

	text-align: left;

	cursor: pointer;

	width: 190px;



}

/* Submenus should appear slightly overlapping to the right (95%) and up (-5%) with a higher z-index, but they are initially off the left side of the screen (-1000em) */

ul.MenuBarVertical ul

{

	margin-left:189px;

	padding: 0;

	list-style-type: none;

	font-size: 100%;

	position: absolute;

	z-index: 1020;

	cursor: default;

	width: 8.2em;

	left: -100em;

	top: 0;

}



ul.MenuBarVertical ul ul{


margin-left:180px;



}

/* Submenu that is showing with class designation MenuBarSubmenuVisible, we set left to 0 so it comes onto the screen */

ul.MenuBarVertical ul.MenuBarSubmenuVisible

{

	left: 0;

}

/* Menu item containers are same fixed width as parent */

ul.MenuBarVertical ul li

{

	width: 8.2em;
	font-size: 100%;

}


ul.MenuBarVertical ul ul li

{
	font-size: 100%;
	width:auto;
	min-width:120px;

}


/*******************************************************************************



 DESIGN INFORMATION: describes color scheme, borders, fonts



 *******************************************************************************/



/* Outermost menu container has borders on all sides */

ul.MenuBarVertical

{

}

/* Submenu containers have borders on all sides */

ul.MenuBarVertical ul

{

}

/* Menu items are a light gray block with padding and no text decoration */

ul.MenuBarVertical a

{

	display: block;

	cursor: pointer;

	background-color: #4cb9b4;

	padding: 0.5em 0.75em;

	color: #edf1f3;

	text-decoration: none;

	border-bottom:dotted 1px #66CCFF;

}

/* Menu items that have mouse over or focus have a blue background and white text */

ul.MenuBarVertical a:hover, ul.MenuBarVertical a:focus

{

	background-color: #3e9990;

	color: #FFF;

}

/* Menu items that are open with submenus are set to MenuBarItemHover with a blue background and white text */

ul.MenuBarVertical a.MenuBarItemHover, ul.MenuBarVertical a.MenuBarItemSubmenuHover, ul.MenuBarVertical a.MenuBarSubmenuVisible

{

	background-color: #3e9990;

	color: #FFF;

}



/*******************************************************************************



 SUBMENU INDICATION: styles if there is a submenu under a given menu item



 *******************************************************************************/



/* Menu items that have a submenu have the class designation MenuBarItemSubmenu and are set to use a background image positioned on the far left (95%) and centered vertically (50%) */

ul.MenuBarVertical a.MenuBarItemSubmenu

{

	background-image: url(SpryMenuBarRight.gif);

	background-repeat: no-repeat;

	background-position: 95% 50%;

}



/* Menu items that are open with submenus have the class designation MenuBarItemSubmenuHover and are set to use a "hover" background image positioned on the far left (95%) and centered vertically (50%) */

ul.MenuBarVertical a.MenuBarItemSubmenuHover

{

	background-image: url(SpryMenuBarRightHover.gif);

	background-repeat: no-repeat;

	background-position: 95% 50%;

}


/* Menu items that have a submenu have the class designation MenuBarItemSubmenu and are set to use a background image positioned on the far left (95%) and centered vertically (50%) */

ul.MenuBarVertical a.MenuBarItemTitle

{

	background-image: url(SpryMenuBarRight.gif);
	background-color:#3e9990;

	background-repeat: no-repeat;

	background-position: 95% 50%;
	text-align:center;
	border-top: solid 2px;
	font-weight:bold;

}

.MenuBarItemTitleLineOver
{
	border-top: solid 2px;
}


/*******************************************************************************



 BROWSER HACKS: the hacks below should not be changed unless you are an expert



 *******************************************************************************/



/* HACK FOR IE: to make sure the sub menus show above form controls, we underlay each submenu with an iframe */

ul.MenuBarVertical iframe

{

	position: absolute;

	z-index: 1010;
	filter:alpha(opacity:0.1);


}

