<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets">    
    <h:panelGrid columns="1" id="projectthematic">
        <p:selectOneMenu id="city" value="#{thematic.thematicLocation}">  
            <f:selectItem itemLabel="Agreger componentes al proyecto" itemValue="" />  
            <f:selectItems value="#{thematic.thematics}" />             
        </p:selectOneMenu>  
        <p:commandButton id="btnadd" value="Agregar" update=":configurarproyecto:tabproject:componentpanel @parent"  action="#{proyectos.addNewComponent}" >  
            <p:collector value="#{thematic.thematicLocation}" addTo="#{proyectos.locationsThematics}" unique="true" />  
        </p:commandButton>  
        <p:panel id="componentpanel" header="Componentes del proyecto">
            <p:dataTable id="componentsTable" value="#{proyectos.locationsThematics}" var="components" emptyMessage="No componentes encontrados">  
                <p:column>  
                    <f:facet name="header">  
                        <h:outputText value="Componente" />  
                    </f:facet>  
                    <h:outputText value="#{components.codigo} #{components.descripcion}" />  

                </p:column> 
                <p:column>  
                    <f:facet name="header">  
                        <h:outputText value="Operaciones" />  
                    </f:facet>  
                    <p:commandLink value="Remover" update=":configurarproyecto:tabproject:componentpanel" process=":configurarproyecto:tabproject:componentpanel" >  
                        <p:collector value="#{components}"  removeFrom="#{proyectos.locationsThematics}" unique="true" />  
                    </p:commandLink>  
                </p:column>  
            </p:dataTable>
        </p:panel>
    </h:panelGrid>

</ui:composition>        




