<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  
      xmlns:h="http://java.sun.com/jsf/html"  
      xmlns:f="http://java.sun.com/jsf/core"  
      xmlns:p="http://primefaces.org/ui">  
    <h:head>
        <title>Lista estaciones por Proyectos</title>
    </h:head>
    <h:body>
        <h:form id="form">             
            <p:panel id="listaestacioes" style=""> 
                <h:panelGrid columns="2" style="text-align: right;">  
                    <p:panel header="Exportar todos los datos.">  
                        <h:commandLink>  
                            <p:graphicImage value="/images/excel.png" />  
                            <p:dataExporter type="xls" target="milocalidades" fileName="localidades" />  
                        </h:commandLink>  

                        <h:commandLink>  
                            <p:graphicImage value="/images/pdf.png" />  
                            <p:dataExporter type="pdf" target="milocalidades" fileName="localidades"/>  
                        </h:commandLink>  

                        <h:commandLink>  
                            <p:graphicImage value="/images/csv.png" />  
                            <p:dataExporter type="csv" target="milocalidades" fileName="localidades" />  
                        </h:commandLink>  

                        <h:commandLink>  
                            <p:graphicImage value="/images/xml.png" />  
                            <p:dataExporter type="xml" target="milocalidades" fileName="localidades" />  
                        </h:commandLink>  
                    </p:panel>  

                    <p:panel header="Exportar solamente la pagina">  
                        <h:commandLink>  
                            <p:graphicImage value="/images/excel.png" />  
                            <p:dataExporter type="xls" target="milocalidades" fileName="localidades" pageOnly="true"/>  
                        </h:commandLink>  

                        <h:commandLink>  
                            <p:graphicImage value="/images/pdf.png" />  
                            <p:dataExporter type="pdf" target="milocalidades" fileName="localidades" pageOnly="true"/>  
                        </h:commandLink>  

                        <h:commandLink>  
                            <p:graphicImage value="/images/csv.png" />  
                            <p:dataExporter type="csv" target="milocalidades" fileName="localidades" pageOnly="true"/>  
                        </h:commandLink>  

                        <h:commandLink>  
                            <p:graphicImage value="/images/xml.png" />  
                            <p:dataExporter type="xml" target="milocalidades" fileName="localidades" pageOnly="true"/>  
                        </h:commandLink>  
                    </p:panel>  
                </h:panelGrid>  

                <p:dataTable var="localidad" value="#{tablaProyectos.localidades}" style="font-size: 11px;"  paginator="true" rows="40"  
                              id="milocalidades">  
                 <p:column >  
                        <f:facet name="header">  
                            <h:outputText value="Estacion" />  
                        </f:facet>  
                        <h:outputText value="#{localidad.estacion}" />   

                    </p:column>  
                    
                    <p:column  >  
                        <f:facet name="header" >  
                            <h:outputText value="Ecoregion" />  
                        </f:facet>  
                        <h:outputText value="#{localidad.ecorregion}" />   

                    </p:column>  

                    <p:column >  
                        <f:facet name="header" >  
                            <h:outputText value="Top&oacute;nimo" />  
                        </f:facet>  
                        <h:outputText value="#{localidad.toponimo}" />   
                    </p:column>
                    
                     <p:column >  
                        <f:facet name="header">  
                            <h:outputText value="Zona protegida" />  
                        </f:facet>  
                        <h:outputText value="#{localidad.zonaProtegida}" />   

                    </p:column> 
                    <p:column >  
                        <f:facet name="header">  
                            <h:outputText value="descripci&oacute;n " />  
                        </f:facet>  
                        <h:outputText value="#{localidad.descripcionEstacion}" />   

                    </p:column>
                     <p:column >  
                        <f:facet name="header">  
                            <h:outputText value="Pa&iacute;s" />  
                        </f:facet>  
                        <h:outputText value="#{localidad.pais}" />   

                    </p:column> 
                    <p:column >  
                        <f:facet name="header">  
                            <h:outputText value="Lugar" />  
                        </f:facet>  
                        <h:outputText value="#{localidad.lugar}" />   

                    </p:column> 
                     <p:column >  
                        <f:facet name="header">  
                            <h:outputText value="Latitud Inicio" />  
                        </f:facet>  
                         <h:outputText value="#{localidad.latitudInicio}" />                       
                    </p:column>
                        
                  <p:column >  
                        <f:facet name="header">  
                            <h:outputText value="Latitud Fin" />  
                        </f:facet>  
                      <h:outputText value="#{localidad.latitudFin}" /> 
                    </p:column> 
                    
                     <p:column >  
                        <f:facet name="header">  
                            <h:outputText value="Longitud inicio" />  
                        </f:facet>  
                         <h:outputText value="#{localidad.longitudInicio}" /> 
                    </p:column> 
                    <p:column >  
                        <f:facet name="header">  
                            <h:outputText value="Longitud de fin" />  
                        </f:facet>  
                        <h:outputText value="#{localidad.longitudFin}" /> 
                    </p:column> 
                    <p:column >
                       <f:facet name="header">  
                            <h:outputText value="Cuerpo de agua" />  
                        </f:facet>  
                        <h:outputText value="#{localidad.cuerpoAgua}" /> 
                    </p:column>
                    <p:column >  
                        <f:facet name="header">  
                            <h:outputText value="Cuerpo de agua" />  
                        </f:facet>  
                        <h:outputText value="#{localidad.cuerpoAgua}" /> 
                    </p:column>  
                     <p:column >  
                        <f:facet name="header">  
                            <h:outputText value="Distencia de costa" />  
                        </f:facet>  
                        <h:outputText value="#{localidad.cuerpoAgua}" /> 
                    </p:column>
                </p:dataTable> 
 
            </p:panel>
        </h:form>
    </h:body>
</html>

