.ui-layout, .ui-layout-doc, .ui-layout-unit, .ui-layout-wrap, .ui-layout-bd, .ui-layout-hd{
    border: none;
}
.ui-layout-unit-top .ui-layout-bd {
    border: 0;
}
.fondoDesktop{
    background-color: #80cfe2
}
.manageButton{
    background-image: url('../img/manage.png');
    background-size: 128;
}
#j_idt16  td{
   border-width: 0px;
    border-style: solid;
    text-align: center;
}
#j_idt16 tr{
border: 0px solid #a8a8a8;
}
#j_idt16 .ui-layout-unit-content ui-widget-content{
    background-color: #61B6FC;
}
/******************init button*****/
#j_idt8_content {
    padding:0px;
}
#j_idt8{
    padding: 0px;   

}
#j_idt7{
    padding: 0px;    
    border:none; 
}
.seleccionar{
    cursor:pointer;
    text-align: center;
}

body{
    font-size: 0.625em;
    
}
#j_idt6{
    height: 40px;
}
#j_idt6 .ui-layout-unit ui-widget .ui-widget-content .ui-corner-all .ui-layout-south .ui-layout-pane .ui-layout-pane-south{
     height: 40px;
}
table#iconmenu tr {
    border:0px solid white;
}




