<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets">    

    <h:panelGrid columns="1" id="panelproyectos">  
        <f:facet name="header">  
            Datos basicos del proyecto
        </f:facet>  

        <p:messages id="meditaproyectos" showDetail="true" autoUpdate="true" closable="true" />  

        <h:outputLabel for="nombrecorto" value="Nombre corto:*" />  
        <p:inputText id="nombrecorto" value="#{proyectosBean.nombrecorto}"  label="Nombre corto"   />  

        <h:outputLabel for="nombrecompleto" value="Nombre completo:*" />  
        <p:inputTextarea  id="nombrecompleto" rows="5" cols="30"   autoResize="false" value="#{proyectosBean.titulo}" />  

        <h:outputLabel for="ejecutor" value="Ejecutor: *" />  
        <p:inputText id="ejecutor" value="#{proyectosBean.ejecutor}" required="true" label="Ejecutor"/>  

        <h:outputLabel for="fechainicio" value="Fecha inicio: *" />  
        <p:calendar  id="fechainicio"  pattern="dd/MM/yyyy "  value="#{proyectosBean.fechaInicio}"  />  

        <h:outputLabel for="fechafinalizacion" value="Fecha finalizacion: *" />  
        <p:calendar  id="fechafinalizacion"  pattern="dd/MM/yyyy "  value="#{proyectosBean.fechaFinalizcion}" />           

        <h:outputLabel for="cssaplicado" value="Nombre archivo CSS aplicado: *" />  
        <p:inputText id="cssaplicado" value="#{proyectosBean.nombreArchivoCSS}" required="true" label="Nombre archivo CSS aplicado" />

        <p:fileUpload fileUploadListener="#{proyectosBean.manejadorCargaLogo}" mode="advanced" dragDropSupport="false"  id="newlogofileupload" auto="true"
                      update="meditaproyectos" sizeLimit="100000"  allowTypes="/(\.|\/)(gif|jpe?g|png)$/"  />  
       

    </h:panelGrid>
    <h:panelGrid columns="2" id="panelbottons">  
        <p:commandButton  value="Guardar" ajax="false" icon="ui-icon-check" style="margin:0"   actionListener="#{proyectosBean.handleNewProject}" />  
        <p:commandButton  value="Salir" ajax="true"  icon="ui-icon-check" style="margin:0"   oncomplete="PF('configuraproyecto').hide();" />  
    </h:panelGrid > 
 
</ui:composition>        




