<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  
      xmlns:h="http://java.sun.com/jsf/html"  
      xmlns:f="http://java.sun.com/jsf/core"  
      xmlns:p="http://primefaces.org/ui"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions"
      xmlns:ui="http://java.sun.com/jsf/facelets"> 
    <h:head>
        <title>Desktop Sistema de monitoreo</title>   
        <meta http-equiv="expires" content="0"/>
        <meta http-equiv="pragma" content="no-cache"/>
        <meta http-equiv="cache-control" content="no-cache"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="../../administracion/css/administracion.css" rel="stylesheet" />      
        
        <script  type="text/javascript"  >                      
            function  redirectToPath(path) {
                window.location = path;
            }
        </script>
    </h:head>
    <h:body>
        <p:layout fullPage="true">
            <p:layoutUnit position="south"  size="50"  >  
                <p:panel style="background-color:#D7D7D7 ">
                    <h:form>  
                        <p:commandButton id="dynaButton" value="Iniciar" type="button"/>  
                        <p:tieredMenu overlay="true" trigger="dynaButton" my="left top" at="left bottom">  
                            <p:submenu label="Proyectos">  
                                <p:menuitem value="Administrar proyectos" icon="ui-icon-document"   onclick="PF('dlg1').show();"/>                                  
                            </p:submenu>   
                            <p:separator />  
                            <p:menuitem value="Salir" icon="ui-icon-extlink"    url="../../index.jsp"/>          
                        </p:tieredMenu>  
                    </h:form>  
                </p:panel>
            </p:layoutUnit>            
            <p:layoutUnit position="center" >  
                <p:panelGrid columns="1" style="border:0px" id="iconmenu" >  
                    <h:graphicImage  url="../../administracion/img/database.jpg"  width="100" height="100" styleClass="seleccionar" onclick="PF('dlg1').show();" />
                    <h:outputLabel value="Proyectos" styleClass="seleccionar"  onclick="PF('dlg1').show();" />

                    <h:graphicImage  url="../../administracion/img/Exit.png"   styleClass="seleccionar" onclick="redirectToPath('../../index.jsp')"/>
                    <h:outputLabel value="Salir" styleClass="seleccionar"  onclick="redirectToPath('../../index.jsp')" />
                </p:panelGrid> 

            </p:layoutUnit>  
        </p:layout>  
        <!--Venata de proyectos  -->
       <h:form id="proyectos" enctype="multipart/form-data"  >            
            <p:growl id="growproyectos" showDetail="true" sticky="true" />  
            <p:dialog id="gestionarproyecto" header="Administracion de Proyectos" widgetVar="dlg1" maximizable="true" minimizable="true"   width="800" >  
                <p:menubar> 
                    <p:menuitem value="Agregar"    icon="ui-icon-plus" onclick="configuraproyecto.show()" update=""   actionListener="#{proyectosBean.handleAddProject}" /> 
                    <p:menuitem value="Refrescar" update="projectTable" actionListener="#{proyectosBean.LoadProjectTable}"  icon="ui-icon-refresh" /> 
                    <p:menuitem value="Salir"  icon="ui-icon-close"  oncomplete="PF('dlg1').hide();"/> 
                </p:menubar>
                <p:dataTable var="project" value="#{proyectosBean.proyectos}" rowKey="#{project.codigo}" paginator="true" rows="10"   resizableColumns="true" 
                             selection="#{proyectosBean.proyectoSeleccionado}" selectionMode="single" filteredValue="#{proyectosBean.filterprojects}" id="projectTable" draggableColumns="true" editable="true" >  
                    <f:facet name="header" >  
                        Lista de proyectos  
                    </f:facet>                        
                    <p:ajax event="rowEdit" listener="#{proyectosBean.onEdit}" />  

                    <p:column headerText="Codigo" sortBy="codigo" filterBy="codigo" id="codigo"  resizable="true" width="5" >  
                        <h:outputText escape="false" value="#{project.codigo}" /> 
                    </p:column> 

                    <p:column headerText="Nombre Corto" sortBy="nombreAlterno" filterBy="nombreAlterno" id="nombreAlterno"  resizable="true"  width="5">  

                        <p:cellEditor>  
                            <f:facet name="output">  
                                <h:outputText value="#{project.nombreAlterno}"   />  
                            </f:facet>  
                            <f:facet name="input">  
                                <p:inputText value="#{project.nombreAlterno}" />  
                            </f:facet>  
                        </p:cellEditor>  
                    </p:column> 
                    <p:column headerText="Titulo" sortBy="titulo" filterBy="titulo" id="titulo"  resizable="true" width="40" >  

                        <p:cellEditor>  
                            <f:facet name="output">  
                                <h:outputText value="#{project.titulo}" />  
                            </f:facet>  
                            <f:facet name="input">  
                                <p:inputTextarea  rows="5" cols="30"   autoResize="false" value="#{project.titulo}" />                                 
                            </f:facet>  
                        </p:cellEditor>  
                    </p:column> 
                    <p:column headerText="Ejecutor" sortBy="ejecutor" filterBy="ejecutor" id="ejecutor"  resizable="true"  width="10">  
                        <p:cellEditor>  
                            <f:facet name="output">  
                                <h:outputText escape="false" value="#{project.ejecutor}"  />  
                            </f:facet>  
                            <f:facet name="input">  
                                <p:inputText value="#{project.ejecutor}" />  
                            </f:facet>  
                        </p:cellEditor> 
                    </p:column>
                    <p:column headerText="Fecha de inicio" sortBy="fechainicio" filterBy="fechaInicio"  id="fechainicio"   resizable="true"  width="20">  
                        <p:cellEditor>  
                            <f:facet name="output">  
                                <h:outputText escape="false"  value="#{project.fechaInicio}" />                                  
                            </f:facet>  
                            <f:facet name="input">  
                                <p:calendar  pattern="dd/MM/yyyy "  value="#{project.fechaInicioDate}"  />  
                            </f:facet>  
                        </p:cellEditor> 
                    </p:column>
                    <p:column headerText="Fecha de finalizacion" sortBy="fechaFinalizo" filterBy="fechaFinalizo" id="fechaFinalizo"   resizable="true"  width="20" >  

                        <p:cellEditor>  
                            <f:facet name="output">  
                                <h:outputText escape="false"  value="#{project.fechaFinalizo}" />                                  
                            </f:facet>  
                            <f:facet name="input">  
                                <p:calendar  pattern="dd/MM/yyyy "  value="#{project.fechaFinalizacionDate}"  />  
                            </f:facet>  
                        </p:cellEditor> 
                    </p:column>
                    <p:column headerText="CSS Aplicado" sortBy="cssaplicado" filterBy="cssaplicado" id="cssaplicado"  resizable="true" width="10">                            
                        <p:cellEditor>  
                            <f:facet name="output">  
                                <h:outputText escape="false" value="#{project.cssaplicado}" />  
                            </f:facet>  
                            <f:facet name="input">  
                                <p:inputText value="#{project.cssaplicado}" />  
                            </f:facet>  
                        </p:cellEditor> 
                    </p:column>                     

                    <p:column headerText="Operaciones" width="40">  
                        <p:commandButton value="..." id="masinfo" update=":proyectos:paneldetalle" oncomplete="detalleproyecto.show()" title="Ver mas informacion sobre el proyecto."  >  
                            <f:setPropertyActionListener value="#{project}" target="#{proyectosBean.proyectoSeleccionado}"  />  
                        </p:commandButton>  
                        <p:commandButton id="beditarproyecto" oncomplete="configuraproyecto.show()" title="Editar el proyecto" icon="ui-icon-gear" update=":configurarproyecto" action="#{proyectosBean.handleSettingProject}"  >  
                            <f:setPropertyActionListener value="#{project}" target="#{proyectosBean.proyectoSeleccionado}"   />  
                        </p:commandButton>  

                    </p:column >
                    <p:column width="5">  
                        <p:rowEditor />  
                    </p:column>

                    <f:facet name="footer">  
                        Existen  #{fn:length(proyectos.proyectos)} proyectos de monitoreo.  
                    </f:facet>
                </p:dataTable>  


            </p:dialog> 
            <!--Venata de proyectos  -->

            <!--Ventana de detalle de proyectos  -->
            <p:dialog header="Mas informacion del Proyecto" widgetVar="detalleproyecto" resizable="true"  
                      id="dialogodellate"   width="400"  showEffect="explode" hideEffect="explode" modal="true">  

                <h:panelGrid id="paneldetalle" columns="1" cellpadding="4">                
                    <h:outputText value="Logo del proyecto: Click sobre la imagen para editar." />  
                    <p:inplace id="imageninplace" effect="none">  
                        <f:facet name="output">  
                            <p:graphicImage id="detallelogo" value="#{proyectosBean.proyectoSeleccionado.pathLogo}" /> 
                        </f:facet>  
                        <f:facet name="input">  

                        </f:facet>  
                    </p:inplace> 

                    <h:outputText value="Titulo: click sobre el titulo para editar." />  
                    <p:inplace id="inputareainreplace" effect="none">  
                        <f:facet name="output">  
                            <h:outputText  escape="true" value="#{proyectosBean.proyectoSeleccionado.titulo}" id="titulo"/> 

                        </f:facet>  
                        <f:facet name="input">  

                        </f:facet>  
                    </p:inplace>                     

                    <p:commandButton value="Refrescar" update="dialogodellate,detallelogo" id="ajax"   icon="ui-icon-refresh"
                                     actionListener="#{proyectosBean.LoadProjectTable}" /> 
                </h:panelGrid>  
            </p:dialog>  
       </h:form>
        <!--Venata de detalla de proyectos  -->


        <!--Venata de edicion de ployecto y configuraciond del proyecto.  -->
        <h:form id="configurarproyecto" enctype="multipart/form-data">
            <p:dialog  header="Edicion y configuracion del Proyecto" widgetVar="configuraproyecto" resizable="true"  
                       width="590"  height="460" id="configuraproyecto" modal="true"  >  
                <p:tabView orientation="left"  activeIndex="#{proyectosBean.activeIndexWinProject }" id="tabproject"> 
                    <p:tab title="Datos del proyecto" disabled="#{proyectosBean.tabBasicDataProjectEnabled}" >  
                        <ui:include src="agregaeditaProyectos.xhtml"  />
                    </p:tab>
                    <p:tab title="Componentes" rendered="false" >  
                        <ui:include src="proyectos/settingThematic.xhtml"  />
                    </p:tab>
                    <p:tab title="Estaciones"  rendered="false">  
                        <h:panelGrid columns="2" cellpadding="10">
                            <h:outputText value="Francis Ford Coppola's legendary continuation and sequel to his landmark 1972 film, The_Godfather, parallels the young Vito Corleone's rise with his son Michael's spiritual fall, deepening The_Godfather's depiction of the dark side of the American dream.  
                                          In the early 1900s, the child Vito flees his Sicilian village for America after the local Mafia kills his family. Vito struggles to make a living, legally or illegally, for his wife and growing brood in Little Italy,  
                                          killing the local Black Hand Fanucci after he demands his customary cut of the tyro's business. With Fanucci gone, Vito's communal stature grows."></h:outputText>  
                        </h:panelGrid>  
                    </p:tab>  
                    <p:tab title="Variables" rendered="false">  
                        <h:panelGrid columns="2" cellpadding="10">
                            <h:outputText value="After a break of more than 15 years, director Francis Ford Coppola and writer Mario Puzo returned to the well for this third and final story of the fictional Corleone crime family.  
                                          Two decades have passed, and crime kingpin Michael Corleone, now divorced from his wife Kay has nearly succeeded in keeping his promise that his family would one day be completely legitimate."></h:outputText>  
                        </h:panelGrid>  
                    </p:tab>  
                </p:tabView> 
            </p:dialog> 
        </h:form>
        <!--Venata de edicion de ployecto y configuraciond del proyecto.  -->




    </h:body>
</html>
