<?xml version='1.0' encoding='ISO-8859-1' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Módulo de presiones</title>
        <link  href="../../css/sigma.css"  rel="stylesheet"></link>           
    </h:head >
    <h:body onload="" >
        <h:form id="formparametros">       
            <p:growl id="messages" showDetail="true" autoUpdate="true"  />  
            <p:ajaxStatus style="width:64px;height:64px;position:fixed;right:5px;bottom:5px">  
                <f:facet name="start">  
                    <p:graphicImage value="../../images/ajaxloader.gif" />  
                </f:facet>  

                <f:facet name="complete">  
                    <h:outputText value="" />  
                </f:facet>  
            </p:ajaxStatus>  

            <p:layout fullPage="true">  

                <p:layoutUnit position="north" size="100"  resizable="true" closable="true" >  
                    <div id="header"><img src="../../images/SIGMA/logosigma.png"  width="20%" height="50%" />
                    </div> 
                </p:layoutUnit>                 
                <p:layoutUnit position="center" >  
                    <p:layout >               
                        <p:layoutUnit position="center" resizable="true" >  
                            <div id="migapan" style="height: 30px;width: 100%">
                                <img src="../../images/home.png" width="16" height="16" border="0" align="absmiddle"/><a href="../../index.jsp"> Inicio </a>><a href=""> Reporte de problemas </a>
                            </div> 
                            <p:panelGrid columns="2">

                                <h:outputLabel  for="fecha" value="fecha:"     />  
                                <p:calendar  id ="fecha" value="#{presionBean.fecha}" pattern="dd/MM/yyyy " required="true"  /> 

                                <h:outputLabel  for="departamento" value="Departamento:"     />  
                                <p:selectOneMenu id="departamento" value="#{presionBean.departamento}" required="true" >  
                                    <f:selectItem itemLabel="Seleccione... " itemValue="" />  
                                    <f:selectItems value="#{presionBean.departamentos}" />  
                                    <p:ajax update="sector,sitio"  listener="#{presionBean.CargaCmbSectorDelDepartamento}" />  
                                </p:selectOneMenu> 

                                <h:outputLabel for="sector" value="Sectores:"     />  
                                <p:selectOneMenu id="sector" value="#{presionBean.sector}" required="true" >  
                                    <f:selectItem itemLabel="Seleccione... " itemValue="" />  
                                    <f:selectItems value="#{presionBean.sectores}" />  
                                    <p:ajax update="sitio " listener="#{presionBean.CargaCmbSitiosDelSector}" />  
                                </p:selectOneMenu> 

                                <h:outputLabel for="sitio" value="Sitios:"     />  
                                <p:selectOneMenu id="sitio" value="#{presionBean.sitio}" required="true" >  
                                    <f:selectItem itemLabel="Seleccione... " itemValue="" />  
                                    <f:selectItems value="#{presionBean.sitios}" />  
                                    <p:ajax update=""  />  
                                </p:selectOneMenu> 

                                <h:outputText value="Principales actividades económicas: " />  


                                <p:selectManyCheckbox  id="actividadesEconomicas" layout="lineDirection"  value="#{presionBean.listaActividadesEconomicas}" required="true" >  
                                    <f:selectItems value="#{presionBean.actividadesEconomicas}"/>  
                                </p:selectManyCheckbox>  
                                <h:outputLabel value="" />  

                                <p:commandButton  value="Reportar presiones"  id="btnreportapresiones" actionListener="#{presionBean.reportaPresiones}" ajax="true" onclick="dlg.show();"  update=":formparametros:dataTable"/>



                                <h:outputLabel value="Tabla de Factores forzantes y presiones" />  
                                <p:treeTable  id="treetable" value="#{presionBean.raizArbol}" var="nodo" selectionMode="checkbox" selection="#{presionBean.nodosSeleccionados}" resizableColumns="true" style="width:1000px"  scrollable="true" > 
                                    <p:ajax event="select" listener="#{presionBean.onNodeSelect}" oncomplete="documentDialog.show()"  update=":formparametros:intensidad,:formparametros:frecuencia,:formparametros:dialog" />
                                    <f:facet name="header">  
                                        Reporte los Factores Forzantes y Presiones que afectan al bosque.
                                    </f:facet>  

                                    <p:column style="width:50%" >  
                                        <f:facet name="header">  
                                            Nombre
                                        </f:facet>  
                                        <h:outputText value="#{nodo.nombre}" />  
                                    </p:column>  

                                    <p:column style="width:10%">  
                                        <f:facet name="header">  
                                            Tipo
                                        </f:facet>  
                                        <h:outputText value="#{nodo.tipo}" />  
                                    </p:column>                            

                                </p:treeTable> 
                            </p:panelGrid>

                        </p:layoutUnit>  
                    </p:layout> 
                </p:layoutUnit> 
            </p:layout>

            <p:dialog id="dialog" header="Intensidad y frecuencia del Disturbio" showEffect="fade" widgetVar="documentDialog" modal="true">  
                <p:panelGrid columns="2">
                    <h:outputLabel for="intensidad" value="Intensidad del Disturbio"     />  
                    <p:selectOneMenu id="intensidad" value="#{presionBean.intensidadDisturbio}"> 
                        <f:selectItem itemLabel="Seleccione" itemValue="0" />  
                        <f:selectItem itemLabel="menor" itemValue="1" />  
                        <f:selectItem itemLabel="moderado" itemValue="2" /> 
                        <f:selectItem itemLabel="mayor" itemValue="3" /> 
                        <p:ajax  event="change" listener ="#{presionBean.listenerIntensidadDisturbio}" />
                    </p:selectOneMenu>  

                    <h:outputLabel for="frecuencia" value="Frecuencia"     />    
                    <p:selectOneMenu id="frecuencia" value="#{presionBean.frecuenciaDelDisturbio}">  
                        <f:selectItem itemLabel="Seleccione" itemValue="0" />  
                        <f:selectItem itemLabel="Muy frecuente" itemValue="1" />  
                        <f:selectItem itemLabel="Poco frecuente" itemValue="2" /> 
                        <f:selectItem itemLabel="Frecuente" itemValue="3" /> 
                        <p:ajax  event="change" listener ="#{presionBean.listenerFrecuencia}" />
                    </p:selectOneMenu>   
                </p:panelGrid>
            </p:dialog>  




            <p:dialog id="reporte" header=" Diagnóstico" widgetVar="dlg"  modal="true" width="auto" height="300px" resizable="true" >  

                <p:dataTable id="dataTable" var="reporte" value="#{presionBean.reportes}" scrollable="true"  resizableColumns="true"  liveScroll="true"  paginator="true" rows="20"  
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
                             rowsPerPageTemplate="5,10,15,20,30">  
                    <f:facet name="header">  
                        Diagnóstico
                    </f:facet>  

                    <p:column style="width:auto;">  
                        <f:facet name="header">  
                            <h:outputText value="Actividades Económicas" />  
                        </f:facet>  
                        <h:outputText escape="false" value="#{presionBean.actividadesEconomicasSeleccionadas}" />  
                    </p:column>


                    <p:column style="width:auto;" >  
                        <f:facet name="header">  
                            <h:outputText value="Factores" />  
                        </f:facet> 
                        <p:scrollPanel style="width:auto;height:100px" >  
                            <h:outputText escape="false" value="#{reporte.factores}" />  
                        </p:scrollPanel>
                    </p:column>  

                    <p:column style="width:auto;" >  
                        <f:facet name="header">  
                            <h:outputText value="Presiones" />  
                        </f:facet> 
                        <p:scrollPanel style="width:auto;height:100px" >  
                            <h:outputText escape="false" value="#{reporte.presiones}" />  
                        </p:scrollPanel>
                    </p:column>  
                    <p:column style="width:auto;" >  
                        <f:facet name="header">  
                            <h:outputText value="Estados" />  
                        </f:facet>  
                        <p:scrollPanel style="width:auto;height:100px" >  
                            <h:outputText escape="false" value="#{reporte.estados}" />  
                        </p:scrollPanel> 
                    </p:column> 
                    <p:column style="width:auto;">  
                        <f:facet name="header">  
                            <h:outputText value="Impactos" />  
                        </f:facet>  
                        <p:scrollPanel style="width:auto;height:100px" >  
                            <h:outputText escape="false" value="#{reporte.impactos}" />  
                        </p:scrollPanel>
                    </p:column>  
                </p:dataTable>          
            </p:dialog> 
        </h:form>  
    </h:body>
</html>