<?xml version='1.0' encoding='ISO-8859-1' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Estadisticas estructura</title>
        <link  href="../../css/sigma.css"  rel="stylesheet"></link>   
        <script type="text/javascript"  src="js/estadisticasEstructura.js" /> 
    </h:head >
    <h:body  >
       
    </h:body>
</html>