.accordion_toggle {
	display: block;
	height: 62px;
	width: 750px;
        background: #FFFFFF; 
	padding: 0px 0px 0px 0px;
	line-height: 25px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 150%;
	font-weight:bold;
	color: #003366;
	text-decoration: none;
	outline: none;
	font-size: 24px;
	/*			color: #000000;*/
	border-bottom: 1px solid #8DC0E3;
	cursor: pointer;
	margin: 0 0 0 0;
	text-indent: 5px;
	text-align: left;
		}

.accordion_toggle:hover {
	color: #61B6FC;
		}
		
.accordion_toggle_active {
/*			background: url(../images/acordion/50_barra_accordion_toggle_active.jpg) no-repeat top center #FFFFFF;*/
			background: #096A95;
			color: #ffffff;
			border: 1px solid #8DC0E3;
		}
		
.accordion_content {
/*			background-color: #ffffff;
			color: #444444;*/
			overflow: hidden;
				font-family: Arial, Helvetica, sans-serif;
				color: #FFFFFF;			
				font-size: 11px;
			/*border: 1px solid #8DC0E3;*/

		}
			
.accordion_content h2 {
				margin: 15px 0 5px 10px;
				color: #0099FF;
			}
			
.accordion_content p {
				margin: .4em 0 .5em 0;
				line-height: 1.2em;
				text-align: justify;
				padding:5px;
				font-family: Arial, Helvetica, sans-serif;
				color: #FFFFFF;			
				font-size: 11px;
	}
			
.vertical_accordion_toggle {
			display: block;
/*			height: 30px;*/
			width: 750px;
			background: url("../images/acordion/accordion_toggle2.jpg") ; 0 10px 0 10px;
			line-height: 25px;
			color: #ffffff;
			font-family: Arial, Helvetica, sans-serif;
			font-weight: normal;
			text-decoration: none;
			outline: none;
			font-size: 12px;
/*			color: #000000;*/
			border-bottom: 1px solid #cde99f;
			cursor: pointer;
			margin: 0 0 0 0;
		}

.vertical_accordion_toggle_active {
			background: url(../images/acordion/accordion_toggle_active2.jpg) no-repeat top right #66cbff;
			color: #000000;
			border-bottom: 1px solid #f68263;
		}

.vertical_accordion_content {
/*			background-color: #ffffff;*/
/*			color: #444444;*/
			overflow: hidden;
		}

.vertical_accordion_content h2 {
				margin: 15px 0 5px 10px;
				color: #0099FF;
			}

/*			.vertical_accordion_content p {
				line-height: 150%;
				padding: 5px 10px 15px 10px;
			}
*/  			
		/*
			Horizontal Accordion
		*/
		
.horizontal_accordion_toggle {
			/* REQUIRED */
			float: left;	/* This make sure it stays horizontal */
			/* REQUIRED */

			display: block;
			height: 100px;
			width: 30px;
			background: url(../images/acordion/h_accordion_toggle.jpg) no-repeat top left #a9d06a;
			color: #ffffff;
			text-decoration: none;
			outline: none;
			border-right: 1px solid #cde99f;
			cursor: pointer;
			margin: 0 0 0 0;
		}
		
.horizontal_accordion_toggle_active {
			background: url(../images/acordion/h_accordion_toggle_active.jpg) no-repeat top left #e0542f;
			border-right: 1px solid #f68263;
		}
		
.horizontal_accordion_content {
			/* REQUIRED */
			height: 100px;	/* We need to define a height for the accordion as it stretches the width */
			float: left;	/* This make sure it stays horizontal */
			/* REQUIRED */
			
			overflow: hidden;
/*			background-color: #ffffff;*/
			color: #444444;
		}
			
/*			.horizontal_accordion_content p {
				width: 450px;
				line-height: 150%;
				padding: 5px 10px 15px 10px;
			}
*/					
					
    /* Container styling*/
#horizontal_container {
      margin: 20px auto 20px auto;
/*      width: 680px;   */
      height: 100px;    
    }
    
#vertical_container {
      margin: 5px auto 5px 10px ;
      width: 98%;
    }
