/* Globales
-----------------------------------------------------------------------------*/

body{
	font-family: "Trebuchet MS";
	font-size: 	85.7%;
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

table{
	border-collapse: collapse;
	text-align:left;
}

td, th{
	padding:0px;
	border:0px;
}


img{ 
	border: none;
	display:block;
}	

.regla{
	border-top: 1px solid #75B2CE;
	height:1px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left:auto;
	margin-right:auto;
}

	/*PNG rendering support for IE6*/
img, div, a, input { behavior: url(js/png/iepngfix.htc) }


a {
	color: #046b9b;
	text-decoration: none;
}

h1 {
	font-family: "Trebuchet MS";
	font-size: 114.3%;
	font-weight: bold;
	/*text-transform: uppercase;*/
	color: #edf1f3;
	margin:0;
	padding:0;
}



/*cuerpo de textos*/

.textonoticias{
	font-family:"Trebuchet MS";
	font-size:70.7%;
	color:#778A93;	
	line-height:15px;
	text-align:justify;
}
.textonoticias table {
	border:1px solid #8DCCE3;
	border-collapse:collapse;
	margin-left:auto;
	margin-right:auto;
}
.textonoticias table th {
	color:#FFFFFF;
	border:1px solid #8DCCE3;
	padding:5px;
	text-align:center;
}
.textonoticias table td {
	border:1px solid #8DCCE3;
	padding:5px;
}

.textonoticias .layouttable, .textonoticias .layouttable td {
	border:medium none;
	border-collapse:collapse;
	margin:0;
	padding:3px;
	text-align:left;
}

.textonoticias input, .textonoticias select, .textonoticias textarea, input, select, textarea{
	border:1px solid #999999;
	font-family:"Trebuchet MS";
	font-size:95%;
}

.textonoticias a:link, .textonoticias a:visited  {
	color:#046B9B;
	/*font-weight: bold;*/
	text-decoration: underline;
}

.textonoticias a:hover  {
	color:#0886C1;
	text-decoration: underline;
}

/*HTML headings, titulos*/

.textonoticias h2{
	text-decoration: none;
	font-weight: bold;
	font-size: 145%;
	color: #046b9b;
}

.textonoticias h2 a, .textonoticias h2 a:link, .textonoticias h2 a:visited, .textonoticias h2 a:active{
	color: #046b9b;
	text-decoration: none;
}

.textonoticias h2 a:hover  {
	color: #0886c1;
	text-decoration: underline;
}

.textonoticias h3 {
	font-size:125%;
	font-weight: bold;
	color: #046b9b;
}

.textonoticias h3 a:link, .textonoticias h3 a:visited  {
	color: #046b9b;
}

.textonoticias h3 a:hover  {
	color: #0886c1;
	text-decoration: underline;
}

.textonoticias h4 {
	font-size: 110%;
	font-weight: bold;
	color: #046b9b;
}

.textonoticias h5 {
	font-size: 90%;
	font-weight: bold;
	color: #046b9b;
}

.textonoticias h6 {
	font-size: 75%;
	font-weight: bold;
	color: #046b9b;
}

/*mas informacion*/

.minfo_fondo{
	border-bottom: 1px solid #75B2CE;
	height:16px;
	clear:both;
}

.minfo_texto{
	float:right;
	background:url(../images/masinfo.png) no-repeat ;
	text-align:center;
	padding-top:2px;
	width:70px;
	height:16px;
	margin-right:2px;
	font-family: "Trebuchet MS";
	font-size: 95%;
	color: #deeff8;
}

.minfo_texto a:link, .minfo_texto a:visited  {
	color: #deeff8;
	text-decoration: none;
}

.minfo_texto a:hover  {
	color: #deeff8;
	text-decoration: underline;
}

.minfo_fecha{
	float:right;
	font-size:92.9%;
	margin-right:4px;
	padding-top:2px;
}

/*paginación*/

.paginacion{
	color:#778A93;
	width: auto;
	margin-right:10px;
	margin-top:7px;
	text-align:right;
}

.paginacion a:link, .paginacion a:visited  {
	color:#046B9B;
	text-decoration: underline;
}

.paginacion a:hover  {
	color:#0886C1;
	text-decoration: none;
}

.paginacion .pactual{
	background:#8DCCE3;
	color:#FFFFFF;
	font-weight:bold;
	padding: 2px 4px 2px 4px;
}
