.titulohead {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
}
.linksnegros {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: #000000;

}

.titulosnegros {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	text-align: center;


}
a.titulosnegros:hover  {
	text-decoration:underline;
	font-weight: bold;
	color: #096A95;
}
.titulo_ubicacion {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bolder;
	color: #FFFFFF;

}
.inputText {
	font: 10px Arial, Helvetica, sans-serif;
	color: #666666;
	border: 1px solid #999999;
}
.inputText2 {
	font: 10px Arial, Helvetica, sans-serif;
	color: #666666;
	border: 1px solid #999999;
	text-align: left;
}
.titulostablas {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
	text-align: center;

}
.texttablas {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-align: left;
}

.texttablasreg {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	text-align: left;
}


.linksnavinferior {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	text-decoration: none;
	color: #000000;
}
a.linksnavinferior:hover  {
	text-decoration:underline;
	font-weight: bold;
	color:#8DC0E3;
}
.texttablasnum {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-align: right;
}
.texttablasespecie {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-align: left;
	font-style: italic;

}
.texttitulo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #333333;
	text-decoration: none;
	text-align: center;
	font-weight: bold;

}
.textnormal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	text-decoration: none;
	text-align: justify;
	font-weight: normal;
}
.linksbotton {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
	color: #000000;
	text-align: right;

}
a.linksbotton:hover  {
	text-decoration:underline;
	font-weight: bold;
	color: #000066;
}
.textpiedefoto {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #666666;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
}
.textnormaindex {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #666666;
	text-decoration: none;
	text-align: justify;
	font-weight: bold;
	line-height: 15px;

}
.textfooter {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #666666;
	text-align: left;
	text-decoration: none;

}
a.textfooter:hover  {
	text-decoration:underline;
	font-weight: bold;
	color: #8DC0E3;
}

.txttaxon1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
	text-align: center;
}
.txttaxon1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	text-align: left;
}
.txttaxon2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #000000;
	text-align: left;
	font-style: italic;

}
.txttaxon3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	text-align: left;
	font-style: italic;

}
.txttaxon4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-align: justify;
}
.linksblancos {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: #FFF;
}

.tdcabezote {
	background-color: #008001;
}

.tdcabezote2 {
	background-color: #005D01;
}

.tabla_fondotitulo {
	background-color: #1CBC26;
}

.tabla_fondotitulo2 {
	background-color: #76EB7C;
}

.tabla_fondopagina {
	background-color: #E6E6E6;
}
#modsigma
{
    display:none;
    
}
