body { 
			text-align:center;
			font: 9px Verdana, Arial,Helvetica;
	 }
#main { 
		margin:0 auto 0 auto; 
		width:850px; 
		text-align:left;
	}
	
	fieldset
	{	margin-top:0; 
		border: 1px solid #b5d7de;

		width:500px;
		padding: 15px;
	}

	legend
	{	
		font-family: Arial, Helvetica, sans-serif;
		font-size:11px;
		font-weight: normal;
		color: #000000;
		background-color: #b5d7de;
		border: 1px solid #b5d7de;
		padding: 1px 6px
	} 
	label {
		font: 12px Verdana, Arial,Helvetica, sans-serif;
		text-align:right;
		width:120px;
		float:left;
		padding:2px;
		margin-top:0.3em; 
	}
	
	.textfield {
		margin:3px;
		height:20px;
		width:150px; 
		border: 1px solid #999999;
		text-align: left;
	}
	
	.selecttext {
		margin-left:3px; 
		margin-top:3px; 
		margin-bottom:4px; 
		border: 1px solid #999999;
		text-align: left;
	}
	.filetext{
		
		margin-left:3px;
		border: 1px solid #999999;
		text-align: left;
	}
	
	.nobr {display:none;} 
	
	/* input
	{
		color: #781351;
		background: #fee3ad;
		border: 1px solid #781351
	}
	
	 .submit input
	{
		color: #000;
		background: #ffa20f;
		border: 2px outset #d7b9c9;
	}*/
	
	
	.prog-border {
	  height: 15px;
	  width: 205px;
	  background: #fff;
	  border: 1px solid #000;
	  margin: 0;
	  padding: 0;
  }

  .prog-bar {
	  height: 11px;
	  margin: 2px;
	  padding: 0px;
	  background: #00ff00;
  }
  
#MB_overlay {
	position: absolute;
	margin: auto;
	top: 0;	left: 0;
	width: 100%; height: 100%;
	z-index: 8;
	background-color: #000!important;
	opacity:0;
	
}

.leightbox {
	/*display: none;*/
	position: absolute;
	top: 50%;
	left: 25%;
	width: 50%;
	height: 50%;
	text-align: center;
	z-index:1001;
	overflow: auto;	
}

#overlay{
	/*display:none;*/
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:1000;
	background-color:#80AAF0;
	-moz-opacity: 0.5;
	opacity:.50;
	filter: alpha(opacity=50);
}

.lightbox[id]{ /* IE6 and below Can't See This */    position:fixed;    }
#overlay[id]{ /* IE6 and below Can't See This */    position:fixed;    }
  
	#title {
		position:absolute;
		left:259px;
		top:18px;
		width:732px;
		height:69px;
		z-index:1;
	}
	#subtitle {
		position:absolute;
		left:45px;
		top:124px;
		width:472px;
		height:52px;
		z-index:1;
	}
	#apDiv3 {
		position:absolute;
		left:42px;
		top:230px;
		width:1159px;
		height:102px;
		z-index:3;
	}
	-->
	table#content {
		font-family: Tahoma, Verdana, Arial;
		border-collapse: collapse;
		border-spacing: 1px;
		margin-left:30px;
	}
	table#content td{
		font-size: 14px;
		border: 1px solid #999999;
		padding: 4px;
		height: 40px;
	}
	
	table.alerts{
		text-align: center;
		font-family: Verdana;
		font-weight: normal;
		font-size: 11px;
		color: #404040;
		width: 260px;
		background-color: #fafafa;
		border: 1px #d79900 solid;
		border-collapse: collapse;
		border-spacing: 0px;
	}
	
	
	.alertHd{ 
		border-bottom: 2px solid #d79900;
		background-color: #fff2ba;
		text-align: center;
		font-family: Verdana;
		font-weight: bold;
		font-size: 15px;
		color: #404040;
	}
	
	
	.alertBod p	{ 
		text-align: center;
		font-family: Verdana, sans-serif, Arial;
		font-weight: normal;
		font-size: 11px;
		color: #404040;
		background-color: #fafafa;
		margin: 4px;
		padding: 3px;
	} 
	
	table tfoot td{
		padding: 8px 0; 
		
	}
	
	tfoot td a{
			color:#009193;
			text-decoration:none;
	}
	
	tfoot td a:hover  {
			color:#009193;
			text-decoration:underline;
	}
	.tree{
		margin:0px;
		padding:0px;
		font-family: Verdana, sans-serif, Arial;
	}
	.tree li ul{	/* Sub menu groups */
		margin-left:30px;	/* Left spacing */
		padding-left:0px;
		display: none;	/* Initially hide sub nodes */
	}
	.tree li{	/* Nodes */
		list-style-type:none;
		vertical-align:middle;
		
	}
	.tree li a{	/* Node links */
		color:#000000;
		text-decoration:none;
		font-family:arial;
		font-size:0.9em;
		padding-left:2px;
		padding-bottom:2px;
		
	}
	
	  .fileBox{
       background-image:url('images/ajax-loaderArrow.gif');
       background-repeat:no-repeat;
       padding-left:20px;
       
    }
	
	
	