/*****                 Personalizado Sigma**/

/**************************/
.blueHighLight{
    color:green;
    font-weight: bold
}
.ui-layout-north .ui-layout-unit-content{
    background-color: #1A6D77; 
}
.banner{
    background-image: url(../../images/SIGMA/logosigma.png);
}
.titulohead {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
}
.linksnegros {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: #000000;

}

.titulosnegros {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	text-align: center;


}
a.titulosnegros:hover  {
	text-decoration:underline;
	font-weight: bold;
	color: #096A95;
}
.titulo_ubicacion {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bolder;
	color: #FFFFFF;

}
.inputText {
	font: 10px Arial, Helvetica, sans-serif;
	color: #666666;
	border: 1px solid #999999;
}
.inputText2 {
	font: 10px Arial, Helvetica, sans-serif;
	color: #666666;
	border: 1px solid #999999;
	text-align: left;
}
.titulostablas {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
	text-align: center;

}
.texttablas {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-align: left;
}

.texttablasreg {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	text-align: left;
}


.linksnavinferior {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	text-decoration: none;
	color: #000000;
}
a.linksnavinferior:hover  {
	text-decoration:underline;
	font-weight: bold;
	color:#8DC0E3;
}
.texttablasnum {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-align: right;
}
.texttablasespecie {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-align: left;
	font-style: italic;

}
.texttitulo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #333333;
	text-decoration: none;
	text-align: center;
	font-weight: bold;

}
.textnormal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	text-decoration: none;
	text-align: justify;
	font-weight: normal;
}
.linksbotton {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
	color: #000000;
	text-align: right;

}
a.linksbotton:hover  {
	text-decoration:underline;
	font-weight: bold;
	color: #000066;
}
.textpiedefoto {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #666666;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
}
.textnormaindex {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #666666;
	text-decoration: none;
	text-align: justify;
	font-weight: bold;
	line-height: 15px;

}
.textfooter {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #666666;
	text-align: left;
	text-decoration: none;

}
a.textfooter:hover  {
	text-decoration:underline;
	font-weight: bold;
	color: #8DC0E3;
}

.txttaxon1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
	text-align: center;
}
.txttaxon1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	text-align: left;
}
.txttaxon2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #000000;
	text-align: left;
	font-style: italic;

}
.txttaxon3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	text-align: left;
	font-style: italic;

}
.txttaxon4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-align: justify;
}
.linksblancos {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: #FFF;
}

.tdcabezote {
	background-color: #1A6D77;
}

.tdcabezote2 {
	background-color:#1A6D77;
}

.tabla_fondotitulo {
	background-color: #1A6D77;
        color:white;
}

.tabla_fondotitulo2 {
	background-color: #1A6D77;
}
.tabla_fondotitulo2  a{
	color:white;
}

.tabla_fondopagina {
	background-color: #E6E6E6;
}
/*******SIGMA*************************/
#modestaciones, #modgestion
{
    display:none;
    
}


/*****************************/

#header .ui-widget-content  { 
    background-color: white;
}
#header
{
    background-color: #84b741;
}
#footer
{
 // background-color: #869099;
}

body{
    font-size: 0.625em;
    
}

#form\:j_idt14\:registrofotograficoUno, #form\:j_idt14\:registrofotograficoDos{
 width: 100px;
 height:100px;
 border:2px solid #444444;
 margin: 1%;
}

.ui-panelgrid td{
    border:0px;
}

tr.ui-widget-content{
   border:0px;
} 

/************************* Login */
.contenido
{
    background-color: #ECFBEC;
    
}

.footer .header{  
   background-color: rgb(95, 171, 46);
   min-width: 100%;
   min-height: 100px;
  
}
.panelTable {
    color: rgb(0, 102, 153);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 102, 153);
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    text-decoration: underline;
    width: 80px;
}

/*************/
#datosporestacion
{
 display:none;   
}
#DescargarDatos
{
   display:none;     
}
#modsigma
{
    display:block;
}
#setdatos
{
    display:none;
}
#subirActualizar{
    display: none;
}