	#title {
	position:absolute;
	left:289px;
	top:201px;
	width:732px;
	height:69px;
	z-index:1;
	}
	#subtitle {
		position:absolute;
		left:45px;
		top:124px;
		width:472px;
		height:52px;
		z-index:1;
	}
	#apDiv3 {
		position:absolute;
		left:42px;
		top:230px;
		width:1159px;
		height:102px;
		z-index:3;
	}
	
	table#content {
		font-family: Tahoma, Verdana, Arial;
		border-collapse: collapse;
		border-spacing: 1px;
		margin-top:30px;
		margin-bottom:30px;
	}
	table#content td.row{
		font-size: 14px;
		border: 1px solid #999999;
		padding: 4px;
		height: 40px;
	}
	
	table.alerts{
		text-align: center;
		font-family: Verdana;
		font-weight: normal;
		font-size: 11px;
		color: #404040;
		width: 300px;
		background-color: #fafafa;
		border: 1px #b5d7de solid;
		border-collapse: collapse;
		border-spacing: 0px;
	}
	
	
	.alertHd{ 
		border-bottom: 2px solid #b5d7de;
		background-color: #b5d7de;
		text-align: center;
		font-family: Verdana;
		font-weight: bold;
		font-size: 15px;
		color: #404040;
	}
	
	
	.alertBod p	{ 
		text-align: center;
		font-family: Verdana, sans-serif, Arial;
		font-weight: normal;
		font-size: 11px;
		color: #404040;
		background-color: #fafafa;
		margin: 4px;
		padding: 3px;
	} 
	
	table tfoot td{
		padding: 8px 0; 
		
	}
	
	tfoot td a{
			color:#009193;
			text-decoration:none;
	}
	
	tfoot td a:hover  {
			color:#009193;
			text-decoration:underline;
	}
	
	h1{
		text-align:center;
	}