/* CSS Document */

.template thead {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #006699;
	background-color: #3399CC;
}
.template tbody {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}
