#formularioEdicionproyectos{
/*     padding-bottom: 50px;*/
     padding-left: 15px;
}

#formularioEdicionproyectos span{
    margin-bottom: 10px;
}
#formularioEdicionproyectos  #nombrealternotxt{
    height: 45px;
    width: 500px;    
    padding: 0px;
    text-align: justify;
    font-size: 11px;
    vertical-align: 0px;
    
}

.mensajerror { 
    position: relative;
    margin: 5px;
    border: 2px solid darkorange;
    background-color: #F9EDBE;    
    width:600px;
    height: 30px;
    color: #f00;  
    vertical-align:middle;    
    text-align: justify;
    padding-left:5px;
   
}
#formularioEdicionproyectos input{
  border: 1px solid #E1E1E1;
  height: 20px; 
  
  
}
#formularioEdicionproyectos input[type='button']{
  border: 2px solid #E1E1E1;
  height: 25px;
  background-color: #B9B9B9;
  
}

#formularioEdicionproyectos  input[disabled]
{   
    background-color:white;
    color:black;
}
#formularioEdicionproyectos  #titulotxt{
    height: 45px;
    width: 500px;    
    padding: 0px;
    text-align: justify;
    font-size: 11px;
    vertical-align: 0px;
    
}
#menuadministracion ul{
    list-style-type: none;
}
